* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.w-2{
    display: none;
}
.container, .container2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: black;
}
span {
    color: #dc3545;
}
.btnn {
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    height: 6rem;
    width: 10rem
}
.yess {
    background-color: #28a745;
    color: #fff;
    border: 2px solid #28a745;
}
.noo {
    background-color: #dc3545;
    color: #fff;
    border: 2px solid #dc3545;
}
.love{
    width: 62%;
    height:62%
}
